/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-container {
  text-align: center;
}

img {
  max-width: 25%; /* Set the maximum width to 50% of its original size */
  max-height: 25%; /* Set the maximum height to 50% of its original size */
  display: block;
  margin: 0 auto;
}